* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/sunset.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: #fafafa;
    text-decoration: none;
    padding: 5px 15px;
    font-family: "Exo";
    font-size: 18px;
}

.main-nav li a:hover {
    color: #182c4d;
    transition: all 0.15s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: "Exo";
    color: #fafafa;
    font-size: 10px;
    display: inline-block;
}

.author {
    font-size: 12px;
}



.centerpage {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Exo", sans-serif;
    color: #fafafa;
    text-transform: uppercase;
}

.intro {
    font-size: 50px;
    font-weight: 700;
}

.subtitle {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: -5px;
}
